
@mixin backgroundImage($url){
  background: center no-repeat url($url);
}
.map {
  width: 3485px;
  height: 3460px;
  position: relative;
  display: flex;
  @include backgroundImage("https://i.imgur.com/dDlClEp.jpg");
}

@mixin wordanMixin(){
  width: 109px;
  height: 50px;
  top: 197px;
  left: 666px;
  position: absolute;
}
.wordan {
  @include wordanMixin;
}
.wordan-bg {
  @include wordanMixin;
  @include backgroundImage("map/hover_wordan.png");
}
.wordan-inner {
  width: 109px;
  height: 50px;
  z-index: 100;
  cursor: pointer;
}

@mixin valkajokullMixin(){
  height: 1052px;
  width: 1254px;
  left: 1448px;
  top: 208px;
  position: absolute;
  z-index: 100;
}
.valkajokull {
  @include valkajokullMixin;
}
.valkajokull-bg {
  @include valkajokullMixin;
  @include backgroundImage("map/hover_valkajokull.png");
}
.valkajokull-inner {
  width: 619px;
  height: 300px;
  left: 291px;
  top: 437px;
  position: absolute;
  clip-path: polygon(-25px 45px, 331px 29px, 577px 188px, 690px 180px, 540px 296px, 357px 163px, 331px 213px, 240px 243px, 220px 233px, 273px 140px, 28px 145px);
}

@mixin setterlundMixin(){
  height: 1800px;
  width: 1560px;
  left: 1625px;
  top: 361px;
  position: absolute;
}
.setterlund {
  @include setterlundMixin;
}
.setterlund-bg {
  @include setterlundMixin;
  @include backgroundImage("map/hover_setterlund.png");
}
.setterlund-inner {
  width: 476px;
  height: 410px;
  left: 627px;
  top: 760px;
  position: absolute;
  z-index: 100;
  clip-path: polygon(19px 299px, 183px 218px, 369px 20px, 445px 84px, 363px 182px, 207px 324px, 22px 399px);
}
@mixin swartbogMixin(){
  height: 1354px;
  width: 1560px;
  left: 1540px;
  bottom: 0;
  position: absolute;
}
.swartbog {
  @include swartbogMixin;
}
.swartbog-bg {
  @include swartbogMixin;
  @include backgroundImage("map/hover_swartbog.png");
}
.swartbog-inner {
  width: 605px;
  height: 461px;
  left: 377px;
  top: 686px;
  position: absolute;
  z-index: 100;
  clip-path: polygon(40px 310px, 517px 22px, 539px 115px, 53px 403px);
}

@mixin dalalondMixin(){
  height: 602px;
  width: 1750px;
  left: 0;
  bottom: 0;
  position: absolute;
}
.dalalond {
  @include dalalondMixin;
}
.dalalond-bg {
  @include dalalondMixin;
  @include backgroundImage("map/hover_dalalond.png");
}
.dalalond-inner {
  width: 605px;
  height: 219px;
  left: 780px;
  bottom: 71px;
  position: absolute;
  z-index: 100;
  clip-path: polygon(4px 0px, 351px 108px, 459px 126px, 537px 111px, 544px 195px, 426px 210px, 318px 177px, 87px 109px, -6px 117px);
}

@mixin stromlundMixin(){
  height: 1134px;
  width: 1961px;
  left: 653px;
  bottom: 368px;
  position: absolute;
}
.stromlund {
  @include stromlundMixin;
}
.stromlund-bg {
  @include stromlundMixin;
  @include backgroundImage("map/hover_stromlund.png");
}
.stromlund-inner {
  width: 512px;
  height: 219px;
  left: 606px;
  bottom: 291px;
  position: absolute;
  z-index: 100;
  clip-path: polygon(82px 33px, 228px 23px, 378px 86px, 465px 119px, 472px 183px, 399px 182px, 240px 111px, 118px 113px);
}

@mixin rundwallMixin(){
  height: 1275px;
  width: 1477px;
  left: 158px;
  bottom: 364px;
  position: absolute;
}
.rundwall {
  @include rundwallMixin;
}
.rundwall-bg {
  @include rundwallMixin;
  @include backgroundImage("map/hover_rundwall.png");
}
.rundwall-inner {
  width: 512px;
  height: 520px;
  left: 606px;
  top: 139px;
  position: absolute;
  z-index: 100;
  clip-path: polygon(162px 211px, 337px 120px, 366px 210px, 235px 286px, 90px 450px, 1px 393px);
}

@mixin hraunMixin(){
  height: 1176px;
  width: 1786px;
  left: 569px;
  top: 887px;
  position: absolute;
}
.hraun {
  @include hraunMixin;
}
.hraun-bg {
  @include hraunMixin;
  @include backgroundImage("map/hover_hraun.png");
}
.hraun-inner {
  width: 695px;
  height: 564px;
  left: 659px;
  top: 610px;
  position: absolute;
  z-index: 100;
  clip-path: polygon(52px 310px, 367px 146px, 411px 229px, 291px 295px, 81px 388px);
}

@mixin akurMixin(){
  height: 125px;
  width: 158px;
  left: 446px;
  bottom: 940px;
  position: absolute;
}
.akur {
  @include akurMixin;
}
.akur-bg {
  @include akurMixin;
  @include backgroundImage("map/hover_akur.png");
}
.akur-inner {
  height: 125px;
  width: 158px;
  position: absolute;
  z-index: 100;
  clip-path: polygon(35px 24px, 128px 40px, 128px 65px, 113px 99px, 96px 71px, 21px 55px);
}

@mixin arberrangMixin(){
  height: 248px;
  width: 547px;
  left: 175px;
  bottom: 613px;
  position: absolute;
}
.arberrang {
  @include arberrangMixin;
}
.arberrang-bg {
  @include arberrangMixin;
  @include backgroundImage("map/hover_arberrang.png");
}
.arberrang-inner {
  height: 248px;
  width: 547px;
  position: absolute;
  z-index: 100;
  clip-path: polygon(304px 36px, 300px 68px, 395px 57px, 403px 29px, 537px 69px, 436px 112px, 227px 144px, 84px 219px, 46px 222px, 7px 196px, 41px 148px);
}

@mixin arberRiverMixin(){
  height: 98px;
  width: 152px;
  left: 275px;
  bottom: 584px;
  position: absolute;
}
.arberRiver {
  @include arberRiverMixin;
}
.arberRiver-bg {
  @include arberRiverMixin;
  @include backgroundImage("map/hover_arberriver.png");
}
.arberRiver-inner {
  height: 98px;
  width: 152px;
  position: absolute;
  z-index: 100;
  clip-path: polygon(27px 60px, 60px 31px, 121px 30px, 122px 47px, 76px 48px, 33px 73px);
}

@mixin arosMixin(){
  height: 91px;
  width: 142px;
  left: 1741px;
  bottom: 830px;
  position: absolute;
}
.aros {
  @include arosMixin;
}
.aros-bg {
  @include arosMixin;
  @include backgroundImage("map/hover_aros.png");
}
.aros-inner {
  height: 32px;
  width: 85px;
  left: 26px;
  top: 29px;
  position: absolute;
  z-index: 100;
}

@mixin asarMixin(){
  height: 93px;
  width: 130px;
  left: 1379px;
  bottom: 244px;
  position: absolute;
}
.asar {
  @include asarMixin;
}
.asar-bg {
  @include asarMixin;
  @include backgroundImage("map/hover_asar.png");
}
.asar-inner {
  height: 47px;
  width: 76px;
  position: absolute;
  z-index: 100;
  left: 26px;
  top: 5px;
}

@mixin axefjordMixin(){
  height: 109px;
  width: 106px;
  left: 1297px;
  top: 1087px;
  position: absolute;
}
.axefjord {
  @include axefjordMixin;
}
.axefjord-bg {
  @include axefjordMixin;
  @include backgroundImage("map/hover_axefjord.png");
}
.axefjord-inner {
  height: 109px;
  width: 106px;
  position: absolute;
  z-index: 100;
  clip-path: polygon(24px 74px, 68px 26px, 80px 37px, 34px 85px);
}
@mixin baaHarbourMixin(){
  height: 240px;
  width: 115px;
  right: 491px;
  top: 1432px;
  position: absolute;
}
.baaHarbour {
  @include baaHarbourMixin;
}
.baaHarbour-bg {
  @include baaHarbourMixin;
  @include backgroundImage("map/hover_baaharbour.png");
}
.baaHarbour-inner {
  height: 240px;
  width: 115px;
  position: absolute;
  z-index: 100;
  clip-path: polygon(63px 210px, 52px 128px, 26px 34px, 53px 28px, 80px 119px, 90px 210px);
}

@mixin bindalMixin(){
  height: 137px;
  width: 243px;
  left: 1157px;
  bottom: 1086px;
  position: absolute;
}
.bindal {
  @include bindalMixin;
}
.bindal-bg {
  @include bindalMixin;
  @include backgroundImage("map/hover_bindal.png");
}
.bindal-inner {
  height: 80px;
  width: 170px;
  position: absolute;
  z-index: 100;
  top: 29px;
  right: 37px;
}

@mixin bitraMixin(){
  height: 104px;
  width: 117px;
  right: 644px;
  top: 1408px;
  position: absolute;
}
.bitra {
  @include bitraMixin;
}
.bitra-bg {
  @include bitraMixin;
  @include backgroundImage("map/hover_bitra.png");
}
.bitra-inner {
  height: 104px;
  width: 117px;
  position: absolute;
  z-index: 100;
  clip-path: polygon(23px 51px, 79px 25px, 97px 45px, 81px 78px, 32px 76px);
}


@mixin blotsbalkrMixin(){
  height: 224px;
  width: 260px;
  right: 498px;
  top: 933px;
  position: absolute;
}
.blotsbalkr {
  @include blotsbalkrMixin;
}
.blotsbalkr-bg {
  @include blotsbalkrMixin;
  @include backgroundImage("map/hover_blotsbalkr.png");
}
.blotsbalkr-inner {
  height: 224px;
  width: 260px;
  position: absolute;
  z-index: 100;
  clip-path: polygon(44px 32px, 169px 73px, 214px 115px, 232px 155px, 203px 197px, 179px 122px, 130px 102px, 102px 107px, 92px 90px, 32px 68px);
}

@mixin blueRiverMixin(){
  height: 125px;
  width: 140px;
  left: 672px;
  bottom: 1186px;
  position: absolute;
}
.blueRiver {
  @include blueRiverMixin;
}
.blueRiver-bg {
  @include blueRiverMixin;
  @include backgroundImage("map/hover_blueriver.png");
}
.blueRiver-inner {
  height: 125px;
  width: 140px;
  position: absolute;
  z-index: 100;
  clip-path: polygon(26px 32px, 44px 24px, 67px 64px, 114px 78px, 109px 99px, 46px 75px);
}

@mixin boersgardMixin(){
  height: 140px;
  width: 300px;
  left: 1791px;
  bottom: 1045px;
  position: absolute;
}
.boersgard {
  @include boersgardMixin;
}
.boersgard-bg {
  @include boersgardMixin;
  @include backgroundImage("map/hover_boersgard.png");
}
.boersgard-inner {
  height: 86px;
  width: 242px;
  top: 31px;
  left: 29px;
  position: absolute;
  z-index: 100;
}

@mixin bolunskrMixin(){
  height: 123px;
  width: 203px;
  right: 1147px;
  bottom: 785px;
  position: absolute;
}
.bolunskr {
  @include bolunskrMixin;
}
.bolunskr-bg {
  @include bolunskrMixin;
  @include backgroundImage("map/hover_bolunskr.png");
}
.bolunskr-inner {
  height: 123px;
  width: 203px;
  position: absolute;
  z-index: 100;
  clip-path: polygon(23px 71px, 133px 30px, 178px 44px, 182px 66px, 46px 99px);
}

@mixin brackishSeaMixin(){
  height: 883px;
  width: 504px;
  right: 0px;
  bottom: 47px;
  position: absolute;
}
.brackishSea {
  @include brackishSeaMixin;
}
.brackishSea-bg {
  @include brackishSeaMixin;
  @include backgroundImage("map/hover_brackishsea.png");
}
.brackishSea-inner {
  height: 883px;
  width: 504px;
  position: absolute;
  z-index: 100;
  clip-path: polygon(144px 655px, 45px 493px, 39px 283px, 188px 97px, 372px 29px, 504px 46px, 504px 884px, 210px 655px);
}

@mixin brattabreckPeaksMixin(){
  height: 397px;
  width: 888px;
  left: 1095px;
  top: 1333px;
  position: absolute;
}
.brattabreckPeaks {
  @include brattabreckPeaksMixin;
}
.brattabreckPeaks-bg {
  @include brattabreckPeaksMixin;
  @include backgroundImage("map/hover_brattabreckpeaks.png");
}
.brattabreckPeaks-inner {
  height: 397px;
  width: 888px;
  position: absolute;
  z-index: 100;
  clip-path: polygon(45px 258px, 158px 231px, 186px 172px, 533px 88px, 530px 36px, 614px 36px, 770px 69px, 845px 48px, 753px 111px, 770px 163px, 695px 184px, 644px 156px, 546px 193px, 447px 199px, 275px 249px, 33px 375px);
}

@mixin brunthalMixin(){
  height: 101px;
  width: 160px;
  left: 908px;
  bottom: 865px;
  position: absolute;
}
.brunthal {
  @include brunthalMixin;
}
.brunthal-bg {
  @include brunthalMixin;
  @include backgroundImage("map/hover_brunthal.png");
}
.brunthal-inner {
  height: 101px;
  width: 160px;
  position: absolute;
  z-index: 100;
  clip-path: polygon(36px 24px, 125px 29px, 140px 60px, 86px 78px, 24px 53px);
}

@mixin burraPassMixin(){
  height: 198px;
  width: 181px;
  left: 1828px;
  top: 1338px;
  position: absolute;
}
.burraPass {
  @include burraPassMixin;
}
.burraPass-bg {
  @include burraPassMixin;
  @include backgroundImage("map/hover_burrapass.png");
}
.burraPass-inner {
  height: 198px;
  width: 181px;
  position: absolute;
  z-index: 100;
  clip-path: polygon(34px 142px, 30px 105px, 91px 102px, 156px 27px, 115px 97px, 91px 139px, 60px 174px);
}

@mixin cletbergMixin(){
  height: 103px;
  width: 141px;
  left: 315px;
  top: 179px;
  position: absolute;
}
.cletberg {
  @include cletbergMixin;
}
.cletberg-bg {
  @include cletbergMixin;
  @include backgroundImage("map/hover_cletberg.png");
}
.cletberg-inner {
  height: 103px;
  width: 141px;
  position: absolute;
  z-index: 100;
}

@mixin cragsfjordsMixin(){
  height: 128px;
  width: 129px;
  left: 1651px;
  top: 818px;
  position: absolute;
}
.cragsfjords {
  @include cragsfjordsMixin;
}
.cragsfjords-bg {
  @include cragsfjordsMixin;
  @include backgroundImage("map/hover_cragsfjords.png");
}
.cragsfjords-inner {
  height: 128px;
  width: 129px;
  position: absolute;
  z-index: 100;
  clip-path: polygon(43px 26px, 62px 60px, 106px 92px, 100px 105px, 49px 75px, 22px 33px);
}

@mixin crookRiverMixin(){
  height: 118px;
  width: 127px;
  left: 214px;
  bottom: 473px;
  position: absolute;
}
.crookRiver {
  @include crookRiverMixin;
}
.crookRiver-bg {
  @include crookRiverMixin;
  @include backgroundImage("map/hover_crookriver.png");
}
.crookRiver-inner {
  height: 128px;
  width: 129px;
  position: absolute;
  z-index: 100;
  clip-path: polygon(28px 72px, 32px 24px, 52px 28px, 49px 62px, 99px 75px, 100px 96px);
}

@mixin crooksHollowMixin(){
  height: 95px;
  width: 148px;
  right: 1319px;
  bottom: 684px;
  position: absolute;
}
.crooksHollow {
  @include crooksHollowMixin;
}
.crooksHollow-bg {
  @include crooksHollowMixin;
  @include backgroundImage("map/hover_crookshollow.png");
}
.crooksHollow-inner {
  height: 95px;
  width: 148px;
  position: absolute;
  z-index: 100;
  clip-path: polygon(25px 63px, 51px 23px, 125px 54px, 120px 72px, 59px 47px, 38px 72px);
}
